.main_bg {
  height: 80vh;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
}
.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_box button {
  margin: 0 10px;
}

.btn {
  background: #dadada;
  color: #000;
  border: none;
}

.btn:hover {
  background: #000;
  color: #dadada;
}
